.header{
    width: 100%;
    height: 200px;
    background-color: aqua;
    color: darkgoldenrod;
}
*{
    padding: 0px;
    margin: 0px;
}
.header h1{
    text-align: center;
    font-size: 50px;
    

    
}
mark {
    background-color: white;
    color: black;
  }

.nav{
    width: 100%;
    height: 50px;
    background-color: white;
    text-align: center;
}
.nav ul li a{
    color: white;
    background-color: black;
    font-size: 40px;
    padding: 10px 20px;
    text-decoration: none;

}




.nav ul{
    list-style-type: disc;
    line-height: 50px;
}
.nav ul li{
    display: inline;
}
.nav ul li a{
    color: white;
    background-color: black;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;

}
.nav ul li a:visited{
    color: white;
    background-color: blueviolet;
}
.nav ul li a:hover{
    color: chartreuse;
    background-color: brown;
}
.nav ul li a:active{
    color: chartreuse;
    background-color: blue;
}
.nav h1 figure img{
    image-rendering: crisp-edges;
}







